# Variables de entorno para el proyecto SEMCI

# URL de la API
VITE_API_BASE_URL=http://localhost:3000/api/v2
VITE_STORAGE_URL=http://localhost:3000

# URL de la API MICROSERVICIO EN PYTHON
VITE_API_MICRO_PY_URL=http://127.0.0.1:9001/api

# Configuración de desarrollo
VITE_NODE_ENV=development

# Configuración de autenticación
VITE_TOKEN_STORAGE_KEY=authToken
VITE_USER_STORAGE_KEY=userData

# URLs por defecto
VITE_DEFAULT_REDIRECT_URL=/home
VITE_LOGIN_URL=/login

# Configuración de la base URL para Vite
VITE_BASE_PATH=/riscp/
